<h1 class="page-header">Profile</h1>

<table class="table table-responsive table-condensed table-hover" >
    <tr>
        <td>Age</td>
        <td>{{Age}}</td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td>British</td>
    </tr>
    <tr>
        <td>Marital Status</td>
        <td>Married, 4 children</td>
    </tr>
    <tr>
        <td>Driving Licence</td>
        <td>Full Irish (Clean)</td>
    </tr>
</table>

<p>With over {{Experience}} years experience ...</p>

<p>References available upon request.</p>